#homemenu {
	width: 100%;
	
}
#home,#about,#contact {
	display: inline-block;
	width: 100px;
	background-color: lightblue;
	padding: 20px;
}
table {
	background-color: #e8e8e8;
	width: 60%;
}
#converter, #divtable {
	display: inline-block;
}
#converter {
	width: 30%;
	background-color: #e8e8e8;
}
#divtable {
	width: 50%;
	padding-left: 100px;
}
#td1 {
	column-span: 3;
}